#Pro_detail{
    margin: auto;
    margin-top: 1vh;
    margin-left:2vh ;
    margin-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 10vh;
    animation: tt 2s ease-in-out 1;
    display: flex;
}
#Pro_detail div{
    margin: auto;

    
}


#pro1 img{
    width:80%;
    height:50%;
}
#pro2{
    width:40%;
    padding:8vh;
    background: aliceblue;
}
#pro1{
    width: 30%;
    padding:3vh;
}
#promain{
background: white;
    display:inline-block;

    width: 70%;
    padding: 1vh;
}
#pro2 p:nth-child(1){
    margin: auto;
    width: 90%;
    font-size: 5vh;
    font-weight: 800;
    word-spacing: -0.2vh;
    line-height: -10vh;
    

}
#pro2 p:nth-child(2){

    margin: auto;
    width: 80%;
    font-size: 2.5vh;
    font-weight: 400;
    word-spacing: -0.2vh;
    line-height: -2vh;
}
#pro2 p:nth-child(3){
    margin: auto;
    width: 10%;
    line-height: 10vh;
    font-size: 3vh;
    font-weight: 700;
}
#pro2 p:nth-child(4){
    margin: auto;
    width: 10%;
}
#pro2 h3{

    margin: auto;
    width: 50%;
    font-size:5vh;

}

#pro2 button{
    margin: 1vh;
    border: none;
    padding: 2% 0%;
    width: 25%;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    border: 1px solid black;
    transition: 0.6s ease-in-out;
    cursor: pointer;


}
#pro2 button:hover{
    scale: 1.1;
    box-shadow: -0.4vh 0.5vh 0vh #1E90FF;


}
#pro2 button:active{
    background: #1e8fffc9;
    scale: 0.80;


}
#protbtn1{
    background: #76FF7A;
    box-shadow: -1vh 1vh 0vh #98FB98;

}


#protbtn2{
    background: #1E90FF;
    box-shadow: -1vh 1vh 0vh #1E90FF;

}
@media screen and (max-width: 1400px) {
    #Pro_detail{
        display: inline-block;
    }
    #pro1{
        width: 80%;
        padding: 0vh;
    }
    #pro2{
        background: aliceblue;
        padding: 1vh;
        width: 90%;
    }
    #pro2 p:nth-child(1){
        margin: auto;
        
    }
    #pro2 p:nth-child(2){
        width: 90%;
        font-size: 2.2vh;
    }
    
    #pro2 p:nth-child(3){
        width: 90%;
        font-size:2.2vh;
    }
    #pro2 p:nth-child(4){
        font-size: 2vh;
        width: 40%;

    }
    #pro2 h3{
        width: 90%;


    }
    #pro2 button{
        color: black;
        font-size: 1vh;
        padding: 1.5vh 1vh;
    }

}